<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Tour</title>
    <link th:href="@{/css/stylesEditTour.css}" rel="stylesheet" type="text/css">
    <script>
        // Función para establecer la fecha mínima como la fecha actual
        function setMinDate() {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('date').setAttribute('min', today);
        }

        // Función para confirmar la edición
        function confirmEdit() {
            return confirm("¿Estás seguro de que deseas editar?");
        }

        // Ejecuta la función cuando la página se cargue
        window.onload = setMinDate;
    </script>
</head>
<body>
    <div class="container">
        <h1>Editar Tour</h1>
        <form th:action="@{/tours/edit/{id}(id=${tour.id_Tour})}" method="post" enctype="multipart/form-data" onsubmit="return confirmEdit()">
            <input type="hidden" name="id_Tour" th:value="${tour.id_Tour}">
            
            <div class="form-group">
                Nombre: <input type="text" id="nameTour" name="nameTour" th:value="${tour.nameTour}" required><br>
                Descripción: <input type="text" id="description" name="description" th:value="${tour.description}" required><br>
                Precio: <input type="number" step="0.01" id="price" name="price" th:value="${tour.price}" required><br>
                Fecha: <input type="date" id="date" name="date" th:value="${tour.date}" required><br>
                Hora de Inicio: <input type="time" id="startTime" name="startTime" th:value="${tour.startTime}" required><br>
                Duración: <input type="time" id="duration" name="duration" th:value="${tour.duration}" required><br>
                Punto de Partida: <input type="text" id="startingPoint" name="startingPoint" th:value="${tour.startingPoint}" required><br>
                Imagen: <input type="file" id="multimedia" name="multimedia"><br>
                <!-- Mostrar la imagen actual si existe -->
                <div th:if="${tour.multimedia != null}">
                    <img th:src="@{'/' + ${tour.multimedia}}" alt="Imagen actual" style =" width: 100px; height: auto;">
                </div>
            </div>
            <button type="submit">Actualizar</button>
        </form>
        <a th:href="@{/tours/}" class="button">Volver a la lista</a>
    </div>
</body>
</html>