body {
    background-image: url('/img/fondo.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen para que no se desplace con el scroll */
    font-family: Arial, sans-serif; /* Fuente principal */
     
    
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Barra de navegación */
nav {
    background-color: rgba(174, 182, 191, 0.7); /* Color original con 70% de opacidad */
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Efecto de desenfoque para mejorar la transparencia */
    position: fixed;  /* Hace que la barra sea fija */
    top: 0;          /* La pega al borde superior */
    left: 0;         /* La pega al borde izquierdo */
    right: 0;        /* La extiende hasta el borde derecho */
    z-index: 1000;   /* Asegura que esté por encima de otros elementos */
}

nav .logo a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

nav .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    background-color: rgba(52, 58, 64, 0.9);
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 768px;
    width: 98%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 95%;
}

form button,
.btn-submit {
    padding: 10px;
    background-color: #6f7e14;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover,
.btn-submit:hover {
    background-color: #a2a26e;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #a2a26e;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    background-color: #6f7e14;
}
