<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Definir un fragmento con nombre -->
    <div th:fragment="navbar">
        <nav>
            <div class="logo">
                <a href="/">El Paso del Perezoso</a>
            </div>
            <ul class="nav-links">
                <li><a th:href="@{/cabins/List}">Cabañas</a></li>
               <li><a th:href="@{/tours/listTours}">Tours</a></li>
               <li><a th:href="@{/dishes/ListFood}">Alimentación</a></li>
               <li><a th:href="@{/Article/list}">Articulos</a></li>
               <li><a th:href="@{/transport/listTransport}">Transporte</a></li>
               <li><a th:href="@{/report/listReports}">Reportes y Reseñas</a></li>
               
            </ul>
        </nav>
    </div>
</body>
</html>
